<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<nav class="bg-black bg-opacity-60 border-b border-gray-700 px-4 py-2.5">
  <div class="flex justify-between items-center max-w-7xl mx-auto">
    <div class="flex space-x-8 items-center">
      <a routerLink="/nosotros" class="text-white hover:text-gray-300">NOSOTROS</a>
      <a routerLink="/menu" class="text-white hover:text-gray-300">MENU</a>
      <a routerLink="/admin" class="text-white hover:text-gray-300">MENU ADMIN</a>
      <a routerLink="/order" class="text-white hover:text-gray-300">ORDENAR</a>
    </div>

    <div class="flex items-center space-x-6">
      <span class="text-white">
        <a routerLink="/profile" class="hover:text-gray-300">Mi Cuenta</a>
      </span>
      <div class="flex items-center space-x-4">
        <a href="#" class="text-white hover:text-gray-300">
          <i class="fab fa-twitter text-xl"></i>
        </a>
        <a href="#" class="text-white hover:text-gray-300">
          <i class="fab fa-instagram text-xl"></i>
        </a>
      </div>
      <div class="relative">
        <button (click)="toggleCarrito()" class="relative">
          <i class="fas fa-shopping-cart text-xl text-white"></i>
        </button>
      </div>
    </div>
  </div>
</nav>

<app-carrito *ngIf="mostrarCarrito" (cerrar)="toggleCarrito()"></app-carrito>
