<div class="bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-xl font-bold mb-4">Historial de Pedidos</h2>
    <div *ngIf="purchases.length > 0" class="space-y-4">
      <div *ngFor="let purchase of purchases" class="bg-gray-100 p-4 rounded-lg shadow-sm mb-4">
        <div class="flex flex-col space-y-2">
          <p><strong>Fecha:</strong> {{ purchase.purchaseDate | date }}</p>
          <p><strong>Total:</strong> ${{ purchase.totalAmount }}</p>
          <p><strong>Método de Pago:</strong> {{ purchase.paymentMethod }}</p>
          <p><strong>Opción de Servicio:</strong> {{ purchase.serveOption }}</p>
          <p><strong>Estado:</strong> <span [ngClass]="{'text-green-500': purchase.status === 'Completada', 'text-red-500': purchase.status !== 'Completada'}">{{ purchase.status }}</span></p>
        </div>
        <div *ngIf="purchase.products.length > 0" class="mt-4">
          <p class="font-bold">Productos:</p>
          <ul class="list-disc pl-4 space-y-1">
            <li *ngFor="let product of purchase.products">
              {{ product.productId.name }} - Cantidad: {{ product.quantity }} - Precio: ${{ product.price }}
            </li>
          </ul>
        </div>
        <button *ngIf="purchase.status !== 'Completada'" (click)="markAsCompleted(purchase._id)" class="bg-green-500 text-white px-4 py-2 rounded mt-4 hover:bg-green-600">
          Marcar como Completada
        </button>
      </div>
    </div>
    <div *ngIf="purchases.length === 0" class="flex flex-col items-center justify-center h-64">
      <p class="text-gray-500">No hay pedidos registrados.</p>
    </div>
    <div class="flex justify-center">
      <button routerLink="/home" class="bg-[#C884CF] text-white px-4 py-2 rounded-lg hover:bg-gray-600 ">
        Mi Cuenta
      </button>
    </div>
</div>
  